<nb-card>
  <nb-card-body>
    <table class="table white-table">
      <thead>
        <tr>
          <th class="celula">Projetos</th>
          <th
            class="celula"
            *ngFor="let day of fakeArray(getDaysInMonth()); let i = index"
          >
            {{ i + 1 }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let projeto of projetos">
          <td class="celula">{{ projeto.nome }}</td>
          <td
            class="celula"
            *ngFor="let day of projeto.value; let i = index"
            (click)="openSlider()"
          >
            {{ projeto.value[i] }}
          </td>
        </tr>
      </tbody>
    </table>
  </nb-card-body>
</nb-card>
